/* Nord colors */

@define-color nord-night-1 #2e3440;
@define-color nord-night-2 #3b4252;
@define-color nord-night-3 #434c5e;
@define-color nord-night-4 #4c566a;

@define-color nord-snow-1 #d8dee9;
@define-color nord-snow-2 #e5e9f0;
@define-color nord-snow-3 #eceff4;

@define-color nord-frost-1 #8fbcbb;
@define-color nord-frost-2 #88c0d0;
@define-color nord-frost-3 #81a1c1;
@define-color nord-frost-4 #5e81ac;

@define-color nord-aurora-red #bf616a;
@define-color nord-aurora-orange #d08770;
@define-color nord-aurora-yellow #ebcb8b;
@define-color nord-aurora-green #a3be8c;
@define-color nord-aurora-purple #b48ead;

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
