@import "nord.css"; 

* {
  font-family: "Iosevka Term Extended";
  font-size: 15px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
}

#window {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @nord-snow-1;
  background: @nord-night-2;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 8px;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: @nord-frost-3;

}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @rosewater;
  border-top: 2px solid @rosewater;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#workspaces button:first-child.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 0px 0px 10px;
  color: white;
}

#workspaces button:last-child.active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 10px 10px 0px;
  color: white;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  color: #161320;
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  background: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#workspaces button:first-child:hover {
  background: inherit;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#workspaces button:last-child:hover {
  background: inherit;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#pulseaudio,
#custom-github,
#custom-updates,
#custom-spotify,
#custom-wlogout,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @nord-snow-1;
  background: @nord-night-2;
}

#custom-wlogout {
  font-size: 20px;
  color: #1793d1;
}

#custom-wlogout:hover {
  color: #1793d1;
  font-size: 20px;
}

#clock {
  background: @nord-frost-3;
  color: @nord-night-1;

}

tooltip {
  border-radius: 4px;
  background-color: @nord-night-1;
  text-shadow: none;
}

tooltip label {
  color: @nord-snow-1;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
