@define-color	red  #f38ba8;
@define-color	nord-1  #5e81ac;
@define-color	text  white;
@define-color	nord-base  #4c566a;
@define-color	nord-base-transparent  rgba(76, 86, 106, 0.2);

* {
  font-family: 'Iosevka Term Extended';
  font-weight: 1000;
  font-size: 16px;
}

/* Window */
window {
  margin: 0px;
  padding: 0px;
  border: 2px solid @nord-1;
  border-radius: 8px;
  background-color: @nord-base-transparent;
}

/* Inner Box */
#inner-box {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: @nord-base-transparent;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: @nord-base-transparent;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @nord-base;
}

/* Input */
#input {
  margin-bottom: 10px;
  padding: 15px 15px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @nord-base;
  caret-color: @text;
}

#input:focus {
  box-shadow: none;
}

#input image {
    margin-right: 10px;
    border: none;
    color: white;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @nord-base;
  padding: 15px;
}

#entry arrow {
  border: none;
  color: @nord-1;
}

/* Selected Entry */
#entry:selected {
  font-weight: bold;
  border: 0.11em solid #88c0d0;
  background-color: #88c0d0;
}

#entry:selected #text {
  color: @nord-base;
}

#entry:drop(active) {
  background-color: @nord-1!important;
}

#img {
  margin-right: 10px;
}
