/* Nord colors */

@define-color nord-night-1 #2e3440;
@define-color nord-night-2 #3b4252;
@define-color nord-night-3 #434c5e;
@define-color nord-night-4 #4c566a;

@define-color nord-snow-1 #d8dee9;
@define-color nord-snow-2 #e5e9f0;
@define-color nord-snow-3 #eceff4;

@define-color nord-frost-1 #8fbcbb;
@define-color nord-frost-2 #88c0d0;
@define-color nord-frost-3 #81a1c1;
@define-color nord-frost-4 #5e81ac;

@define-color nord-aurora-red #bf616a;
@define-color nord-aurora-orange #d08770;
@define-color nord-aurora-yellow #ebcb8b;
@define-color nord-aurora-green #a3be8c;
@define-color nord-aurora-purple #b48ead;

@define-color	text  @nord-snow-3;
@define-color selected @nord-frost-3;
@define-color	text-selected  @nord-night-1;
@define-color	nord-base  @nord-night-3;
@define-color	nord-base-transparent rgba(76, 86, 106, 0.2);

* {
  font-family: 'Iosevka Term Extended';
  font-weight: 1000;
  font-size: 16px;
}

/* Window */
window {
  margin: 0px;
  padding: 0px;
  border: 2px solid @nord-frost-3;
  border-radius: 8px;
  background-color: @nord-base-transparent;
}

/* Inner Box */
#inner-box {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: @nord-base-transparent;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: @nord-base-transparent;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @nord-base;
}

/* Input */
#input {
  margin-bottom: 10px;
  padding: 15px 15px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @nord-base;
  caret-color: @text;
}

#input:focus {
  box-shadow: none;
}

#input image {
    margin-right: 10px;
    border: none;
    color: @text;
}

#input * {
  outline: 4px solid @nord-aurora-red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @nord-base;
  padding: 15px;
}

#entry arrow {
  border: none;
  color: @nord-frost-3;
}

/* Selected Entry */
#entry:selected {
  font-weight: bold;
  border: 0.11em solid @selected;
  background-color: @selected;
}

#entry:selected #text {
  color: @text-selected;
}

#entry:drop(active) {
  background-color: @selected!important;
}

#img {
  margin-right: 10px;
}
